<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.caddie.voice.y1.dao.ConfirmsDao">

    <select id="ConfirmsCalDt" resultType="String">
        SELECT
            DISTINCT (CAL_DT)
        FROM
            WORKST_SH
        WHERE
            CONFIRM_ST = 'Y'
            AND DEL_FLAG = 'N'
        ORDER BY
            CAL_DT DESC
    </select>

    <select id="ConfirmsNmShop" resultType="String">
        SELECT
            NM_SHOP
        FROM
            WORKST_SH
        WHERE
            FIN_WH = 'Y'
            AND CONFIRM_ST = 'Y'
            AND DEL_FLAG = 'N'
            AND CAL_DT = #{calDt}
        ORDER BY
            CAL_DT DESC
    </select>


    <select id="getShippingsListSelect" resultType="confirmsSelect">
        SELECT
            CAL_DT, FILE_NM, NM_SHOP
        FROM
            WORKST_SH
        WHERE
            FIN_WH = 'Y' AND DEL_FLAG = 'N'
        ORDER BY
            CAL_DT desc
    </select>


    <select id="deregisterConfirms" resultType="ShippingsList">
        UPDATE
            SHIPPINGS
        SET
            CONFIRM_ST = 'N'
        WHERE
            CAL_DT = #{calDt}
          AND NM_SHOP = #{nmShop}
          AND CONFIRM_ST = 'Y'

    </select>

    <select id="deregisterConfirmsWorkSt" resultType="ShippingsList">
        UPDATE
            WORKST_SH
        SET
            CONFIRM_ST = 'N'
        WHERE
            CAL_DT = #{calDt}
          AND NM_SHOP = #{nmShop}
          AND CONFIRM_ST = 'Y'

    </select>


    <select id="deregisterConfirmsAll" resultType="ShippingsList">
        UPDATE
            SHIPPINGS
        SET
            CONFIRM_ST = 'N'
        WHERE
            CAL_DT = #{calDt}
          AND CONFIRM_ST = 'Y'

    </select>

    <select id="deregisterConfirmsWorkStAll" resultType="ShippingsList">
        UPDATE
            WORKST_SH
        SET
            CONFIRM_ST = 'N'
        WHERE
            CAL_DT = #{calDt}
          AND CONFIRM_ST = 'Y'

    </select>


    <select id="ConfirmsDetail" resultType="ShippingsDetail">
        SELECT
            S,
            NO_SO,
            NM_SHOP,
            LN_PARTNER,
            NO_ORDER,
            CD_SPITEM,
            NM_SPITEM,
            CD_OPT,
            NM_OPT,
            NM_CUST,
            QT_SO,
            UM_VAT,
            AM_VAT,
            CM_VAT,
            CA_VAT,
            CM,
            CA,
            VAT,
            AM_RATE_CHARGE,
            NO_GIR,
            PAY_TYPE,
            NO_PO,
            NO_GIR_MIN

        FROM
            SHIPPINGS
        WHERE CAL_DT = #{calDt}
              AND NM_SHOP = #{nmShop}
              AND CONFIRM_ST = 'Y'
              AND DEL_FLAG = 'N'

    </select>


    <select id="registerConfirms" resultType="ShippingsDetail">
        UPDATE SHIPPINGS sh
            INNER JOIN SALES s
        ON s.NO_ORDER = sh.NO_ORDER
            AND s.CA = sh.AM_VAT
            AND s.CAL_DT = #{calDtSal}
            AND sh.CAL_DT = #{calDtSh}
        SET sh.CONFIRM_ST = 'Y'
        WHERE NM_SHOP = #{nmShop};
    </select>

    <select id="registerConfirmsWorkSt" resultType="ShippingsDetail">
        UPDATE WORKST_SH
        SET CONFIRM_ST = 'Y'
        WHERE NM_SHOP = #{nmShop} and CAL_DT = #{calDtSh}
    </select>


</mapper>